/* General */
body {
	background-color: #000;
}

a {
	color: #fff;
}

/* Stylin those divs */
.main-wrapper {
	width: 100%;
	height: 100vh;
	background: url(img/bg2.jpg) no-repeat center center fixed;
	background-size: cover;
	display: inline-block;
}

.content {
	max-width: 80%;
	height: 200px;
	margin: 0 auto;
/*vertically center*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.logo {
	width: 32%;
	display: inline-block;
}

.logo svg {
	margin: 0 auto;
	display: block;
}

.bio {
	width: 65%;
	height: 100%;
	display: block;
	float: right;
	color: #fff;
	border-left: 1px solid #fff;
}

.bio p {
	font: 1.8em/1.5 Lora,serif;
	padding-left: 10vw;
	margin: 0;
/*vertically center*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#ttlink {
	color: #6fbc6d;
}

.arrow {
	position: absolute;
	bottom: 5vh;
}

.centered-x {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}

.arrow svg:hover #line1,.arrow svg:hover #line2 {
	stroke-width: 4;
}

.arrow svg #line1,.arrow svg #line2 {
	transition: 200ms;
}

footer {
	background-color: #000;
	color: #fff;
	padding: 1em 0;
	font-family: 'Arimo',arial,sans-serif;
	text-align: center;
}

footer .email {
	letter-spacing: 5px;
}

/* Animation of bottom icon hovers */
svg:hover #ttlogo {
	fill: #6fbc6d;
	transition: 200ms;
}

svg:hover #fblogo {
	fill: #3B5999;
	transition: 200ms;
}

/* Animation of the logo - guilh */
@keyframes offset {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes fill-it {
	100% {
		fill: #fff;
	}
}

#SS {
	stroke: #fff;
	stroke-width: 4;
	stroke-dasharray: 810;
	stroke-dashoffset: 810;
	animation: offset 2s linear forwards,fill-it .8s 1.5s forwards;
}

/* @media queries */
@media screen and (min-width: 616px ) and (max-width: 872px) {
	.main-wrapper {
		height: inherit;
		padding-bottom: 4rem;
	}

	.content {
		position: static;
		transform: none;
	}

	.logo {
		display: block;
		width: 100%;
		border-bottom: 1px solid #fff;
	}

	.bio {
		display: block;
		margin: 4rem 0 0;
		width: 100%;
		border-left: none;
	}

	.bio p {
		padding-left: 0;
		text-align: center;
		font-size: 1.6em;
		display: block;
	}

	.arrow {
		display: none;
	}
}

@media screen and (max-height: 575px),screen and (max-width: 982px) {
	.arrow {
		display: none;
	}
}

@media screen and (max-width: 615px) {
	.main-wrapper {
		height: inherit;
		padding-bottom: 3rem;
	}

	.content {
		position: static;
		transform: none;
	}

	.logo {
		display: block;
		width: 100%;
		border-bottom: 1px solid #fff;
	}

	.bio {
		display: block;
		margin: 3em 0 0;
		width: 100%;
		border-left: none;
	}

	.bio p {
		padding-left: 0;
		text-align: center;
		font-size: 1.1em;
	}

	.arrow {
		display: none;
	}
}